.git
.github
.vscode
.idea
.claude
node_modules
apps/**/node_modules
apps/**/data/*.db*
.env
.env.*
*.log
*.tmp
*.temp
apps/**/dist
apps/**/build
apps/network-detect/frontend/*.test.*
apps/network-detect/frontend/**/*.test.*
apps/network-detect/frontend/.*
apps/network-detect/frontend/**/.*
apps/network-detect/combine/*.test.*
apps/network-detect/combine/**/*.test.*
apps/network-detect/combine/.*
apps/network-detect/combine/**/.*
apps/fufu-act/public/*.test.*
apps/fufu-act/public/**/*.test.*
apps/fufu-act/public/.*
apps/fufu-act/public/**/.*
